tr.highlight {
    background-color: white;
}

tr.highlight:hover {
    background-color: #fffcaa;
}

td, th {
    border: 1px solid rgba(224, 224, 224, 1);
    text-align: right;
}

.react-grid-Cell {
    border: 1px solid rgba(224, 224, 224, 1);
}

.backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 50px;
}

.modal {
    background-color: #fff;
    border-radius: 5px;
    max-width: 200px;
    min-height: 150px;
    margin: 0 auto;
    padding: 20px;
}

p, .react-grid-HeaderCell, .react-grid-Cell {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    color: rgba(0, 0, 0, 0.87);
    font-size: 0.8125rem;
    font-weight: 400;
}

a {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    color: black;
    text-decoration: none;
}

.rows .row {
    display: inline-block;
}